/* entire page */
body {
    background-color: rgb(88, 107, 49);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(31,44,4);
}

/* header area */
header {
    margin: 0px auto;
    width: 960px;
    background-color: rgba(214,233,176);
    height: 180px;
}
 header > img {
    width: 200px;
    margin: 10px;
    float: left;
 } 


 h1 {
     text-align: center;
     padding: 0px; 
     margin-right: 150px;
 } 

 h3 {
    color: red;
    text-align: center;
    padding: 0px;
    margin-right: 150px;
 }

 p {
     color: black;
     padding: 3px;
 }

 header > nav > ul > li {
     display: inline-block;
     width: 150px; 
     text-align: center;

     /* mock button styling */
     background-color: rgb(164,185,122);
     border: 1px solid black;
     border-radius: 25px;
     margin: 5px;
     padding: 5px;
 }

 header > nav {
     float: right;
     margin-top: -25px;
     margin-bottom: -15px;
 }

 header > nav > ul > li > a {
     color: inherit; /*will make hyperlinks same color as CSS code*/

 }


/* main body area */
button {
    /* border: 2px solid (rgb(164,185,122)); */
    /* float: right; */
    margin-bottom: -25px;
}

#pruf {
    float: right;
}

#assess {
    float: right;
    margin-right: 45px;
}

h2 {
    text-align: center;
    color: black;
    text-decoration: underline;
}

body > main {
    margin: 0px auto;
    width: 960px;
}


#book {
    
    border: 2px solid black;
    margin-left: -205px;
    margin-top: 5px;
    float: left;
    width: 250px;
    padding: 10px;
}

h4 {
    text-align: center;
    color: rgb(88, 107, 49);
    border: 2px solid black;
    width: 150px;
    float: right;
    margin-top: -135px;
    margin-right: 10px;
}

#mistakes {
    border: 2px solid black;
    margin-top: 110px;
    float: left; 
    width: 250px;
    margin-left: 50px;
    padding: 10px;
}

#practice {
    border: 2px solid black;
    margin-left: 50px;
    float: left;
    width: 250px;
    margin-top: 200px;
    padding: 10px;
}

br {
    clear: left;
}


body > main > article > img {
    border: 3px solid rgb(164,185,122);
    padding: 10px;
    width: 190px;
    margin-left: 20px;
} 


/* footer */
footer {
    position: fixed;
    bottom: 0px;
}